body{
    background-color:#071226;
    text-align: center;
  }

  #imgContainer{
    height:150px;
    width:100%;
    text-align:center;
  }

  #logo{
    position:relative;
    width:250px;
    padding-top:50px;
  }

  #pgContent{
    width:100%;
    height:450px;
    text-align:center;
  }

  #claimBox{
    display:inline-block;
    background-color:#273249;
    width:25%;
    height:40%;
    position:relative;
    top:100px;
    border-radius:30px;
    min-width:320px;
  }

  p{
    font-family: 'Raleway', sans-serif;
    color:white;
  }

  button{
    background-color:white;
    border:none;
    border-radius:30px;
    height:35px;
    width:120px;
    font-family: 'Raleway', sans-serif;
    color:#071226;
    font-size:18px;

  }

  button:hover{
    background-color:#273249;
    color:white;
    border:3px solid;
    border-color:white;
  }

  button:focus{
    background-color:#273249;
    color:lightgray;
    border:3px solid;
    border-color:lightgray;

  }

  .Claim-text {
    padding-top:17px;
  }

  .claim-button {
    margin:10px;
  }

  .warning-text {
    margin-top:5%;
  }